@import "components/variables";
@import "components/secciones";
@import "components/estilos";
@import "components/titulos";
@import "components/responsive";


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body{
    font-family: 'Roboto Mono';
    // background-repeat:repeat;
    background-image: url("../Multimedia/1.jpg");
    background-repeat: round;
    background-attachment: fixed;
  }
  a{
      text-decoration: none;
      border-radius: 15px;
  }
  li{
    list-style-type: none;
  }
  
  