
.estilo__header{
  text-align: center;
  background-color:#ffffff9c;
  img{
    width: 200px;
  }
}
.estilo__nav{
  background-color: #99c1f583;
  @include letras();
    text-align: center;
    @for $i from 1 through 5 {
      li:hover:nth-child(#{$i}) {
          transform: scale(1.2);
      }
    }
    li{
      margin: {
        left: 40px;
        right: 40px;
      }
    }
  }
  .estilo__banner{
  background-color:#ffffff9c;
    a{
      text-decoration: none;
      color: #000000;
      :hover{
        transform: scale(1.2);
      }
    }
  }
  .estilo__button{
   
    button{
      border-radius: 5px;
      padding: 5px;
      background-image: linear-gradient(to top, #8fcf9a, #769ab3);
    }
    input{
     background-color: #749daf5e;
    }
    div{
      padding: 5px;
    }
  }
  .estilo__button--top{
    img{
      width: 60px;
      height: 60px;
    }
  }
  footer{
    background-color: #bce7af50;
    margin: $standar;
    div{
      padding: $standar/3;
    }
    p{
      font-size: 10px;
    }
  }
  .estilo__footer{
    h3{
      font-size: $standar;
    }
      div:nth-child(1){
        p{
          text-align: center;
        }
        ul{
          justify-content: center;
          @for $i from 1 through 9 {
            li:nth-child(#{$i}) {
                padding: 5px;
                margin: 5px;
            }
          }
        }
      }
      div:nth-child(2){
        font-size: $standar;
       ul{
         justify-content: center;
         li{
           padding: $standar;
         }
       }
      }
    } 
  .estilo__footer--cambio{
    a{
      color: black;
      li{
        font-size: 13px;
      }
    }
    margin: $standar;
    
  }
  .carousel__inspiration{
      img{
        width: 800px;
        height: 650px;
      }
      p{
        background-color: #769ab3;
      }
  }
  hr {
    color: rgb(79, 52, 102);
    opacity: 2;
  }
  .vr{
    hr{ 
      border:none;
      border-left:1px solid hsla(200, 10%, 50%,100);
      height: 550px;
      width: 5px;       
  }
  }
  .row{
    a {
      text: {
        decoration: none;
        transform: uppercase;
      }
      color: white;
    }
    button {
      background-color: #5223d3;
    }
    input, textarea{
      border-style: outset;
      background-color: #e0f0f0d0;
    }
    .texto
    {
       @for $i from 1 through 4 {
           div:nth-child(#{$i}) {
           padding: 20px;
           margin: 40px;
           background-color: rgb(236, 236, 236);
           border-radius: $standar;
           h1{
            color: #d67852;
           }  
         }
       }
    }
  }

  .imagen__central{
    width: 750px;
  }
  
  

