
#registro {
  padding: $standar;
  text-align: center;
  width: 550px;
  margin-top: 100px;
  margin: auto;
  border-radius: 4px;
  font-size: 18px;
  button{
    border-style: none;
    background-color: rgb(161, 174, 218);
    :hover{
      background-color: #30254e49;
    }
  }
  textarea{
    background-color: #bcade649;
    text-align: center;
    border-style: none;
  }
}
#registro input{
  background-color: #bcade649;
  border-style: none;
  width: 100%;
  font-size: $standar;
  padding: 10px;
  margin-bottom: 16px;
}
  
 #seccion__info{
   margin: $standar;
   padding: $standar;
      background-color: #ffffff;
    img{
      width: 350px;
      }
   }
   #seccion__mult{
    margin: $standar;
    padding: $standar;
    background-color: #ffffff88;
   }
  .seccion__inspiration{
    padding: $standar;
    margin: $standar*3;
    background-color: rgba(255, 255, 255, 0.479);
    img{
       height: 800px;
       padding: $standar;
       text-align: center;
     }
     p{
      padding: $standar;
      margin: $standar*4;
      text-align: center;
     }
     h3{
       font-size: 20px;
       padding: $standar;
       text-transform: uppercase;
     }
  }
  #seccion__gallery{
    margin: $standar*2;
    padding: $standar;
    text-align: center;
    img{
      margin: $standar;
    }
    a{
        img:hover{
          transform:scale(1.2);
        }
      }
    }
  #seccion__ibashop{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    img{
      border-radius: $standar;
    }
    ul{
      text-align: left;
      li{
        text-transform: capitalize;
      }
    }
    a{
      color: white;
    }
    nav{
      background-color: rgba(170, 137, 111, 0.527);
    }
  }